:root{
    --events: #31313D;
    --text: whitesmoke;
}
.events-container {
    background: var(--events);
    min-height: 100vh;
    padding: 0 7vw;
    display: flex;
    flex-direction: column;
}
.upcoming {
    padding: 10px;
    color: var(--text);
    font-size: 4rem;
}