:root {
    --event-block: #181A1C;
}
.event-block {
    background: var(--event-block);
    margin: 1rem 0;
    border-radius: .5rem;
    border: .2rem solid black;
    color: var(--text);
}
.event-block:hover {
    cursor: pointer;
}
.block-container {
    padding: .5rem 1rem .5rem 0;
    font-size: clamp(.5rem, 1.9vw, 1.25rem);
}
.event-name {
    font-weight: bold;
}
.no-events {
    margin-top: 2rem;
    color: var(--text);
    font-size: 2rem;
}