.register-container {
    background: #31313D;
    min-width: 100vw;
    min-height: 100vh;
    color: whitesmoke;
    padding: 2rem 10rem;
}
form {
    background-color: #181A1C;
    border: 1px solid black;
    padding: 2rem;
    border-radius: .5rem;
    width: 30rem;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: left;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.form-footer {
    margin: 1rem;
    font-size: 1.1rem;
}
.form-title {
    font-size: 2rem;
}
.error {
    display: block;
    background: #aa0101;
    padding: 1rem;
    border-radius: .5rem;
}